<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.webapp.dao.NoticeDao">

	<select id = "get" resultType="com.newlecture.webapp.entity.NoticeView"> 
		select * from NoticeView where id=#{id}
	</select>
	
	
	<select id="getList"  resultType="com.newlecture.webapp.entity.NoticeView" >
		select * from NoticeView
		where #{param2} like '%${param3}%'
		order by regDate desc
		limit ${(param1-1)*10}, 10
	</select>
	
	<select id="getPrev"  resultType="com.newlecture.webapp.entity.NoticeView" >
		select * from NoticeView 
		where id &lt; CAST(#{id} AS UNSIGNED) 
		order by regDate desc 
		limit 1
		
	</select>
	<select id="getNext"  resultType="com.newlecture.webapp.entity.NoticeView" >
		select * from NoticeView 
		where id &gt; CAST(#{id} AS UNSIGNED) 
		order by regDate 
		limit 1
		
	</select>	
	
	 <!-- 파라미터가 객체(Notice)이기때문에 getter의 메소드를 사용할수잇다 -->
	<insert id="insert" parameterType="com.newlecture.webapp.entity.Notice"> 
		<selectKey order="BEFORE" keyProperty="id" resultType="String"> <!-- 먼저 실행된다/ notice객체의 id와 충돌이 나지 않음 이것이 우선순위가 높다-->
			select ifnull(max(cast(id as unsigned)), 0)+1
			from Notice
		</selectKey>
		insert into Notice(id, title, content, writerId)
		values(#{id}, #{title}, #{content}, #{writerId});
	</insert>
	
</mapper>
